<nav class="bottom-nav">
  @if (indicatorStyle(); as style) {
    <div class="bottom-nav__indicator" [style.transform]="style.transform" [style.width]="style.width"></div>
  }
  @for (item of items; track item.tab) {
    <a
      #linkRef
      class="bottom-nav__link"
      [class.bottom-nav__link--active]="active() === item.tab"
      [routerLink]="item.route"
    >
      <app-icon [name]="item.icon" />
      <span class="bottom-nav__label">{{ item.labelKey | translate }}</span>
    </a>
  }
</nav>
